#interaction{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    height: 200px;
    width:  200px;
    border-radius: 50%;
}

.back{
    color: white;
    position: relative;
    top : -70px;
    left: 31px;
  }

.forward{
    color: white;
    position: relative;
    left: 41px;
    top: 6px;
  }
  
.backward{
    color: white;
    position: relative;
    left: -78px;
    top: 8px;
    transform: rotateY(180deg);
  }